---
import Layout from "../layouts/Layout.astro";
import CvProjects from "../components/cv/CvProjects.astro";
import HystoricalWork from "../components/cv/HystoricalWork.astro";
import Education from "../components/cv/Education.astro";

import "../styles/global.css";
import ActionButton from "../components/cv/ActionButton.astro";
---

<Layout>
  <div
    class="mx-auto max-w-screen-xl px-4 flex items-center justify-center text-white bg-gray-900"
  >
    <div class="grid grid-cols-3 gap-8 sm:gap-16">
      <div>
        <img
          src="/assets/thumbnails/Yo.webp"
          alt="meAvatar"
          class="rounded-full w-80 blob z-1"
          width="320px"
          height="320px"
        />
      </div>

      <div class="col-span-2 text-center">
        <h1 class="text-4xl font-bold mb-4">DIEGO MARTÍN SÁNCHEZ</h1>
        <p class="text-lg mb-4">Desarrollador Full Stack</p>
        <ActionButton href="mailto:contacto@diegomarty.com" type="mail" />
        <ActionButton
          href="https://drive.google.com/file/d/1lwfWgMuhKMw3itSNp5XhdggaO4xoXbRT/view?usp=drive_link"
          type="download"
        />
      </div>

      <div class="col-span-3">
        <h2 class="text-3xl font-bold mb-4">SOBRE MI</h2>
        <p class="text-md mb-2">
          Apasionado por las soluciones tecnológicas y el desarrollo de
          aplicaciones robustas. Siempre buscando innovar y mantenerme a la
          última de las tendencias en desarrollo web. Comprometido con la
          entrega de soluciones óptimas y eficientes.
        </p>
      </div>

      <div class="col-span-3">
        <h2 class="text-3xl font-bold mb-4">SKILLS</h2>
        <p class="text-md mb-2">
          <strong>Lenguajes y tecnologías</strong>: JavaScript, PHP, Next,
          React, Github, MySql, Symfony, TypeScript, DDD, Hexagonal, PhpUnit,
          Docker, Astro, Vercel, Jira, Tailwind, Bootstrap.<br />
          <strong>Idioma</strong>: Inglés (Nivel Intermedio)
        </p>
      </div>

      <div class="col-span-3">
        <h2 class="text-3xl font-bold mb-4">HISTORIAL PROFESIONAL</h2>

        <HystoricalWork
          title="WEB FULLSTACK DEVELOPER | Internacional Web"
          date="Jun 2020 - Actual"
          tags={["PHP", "Next.js", "Symfony", "DDD", "MVC", "Docker"]}
        >
          <div slot="description">
            <p class="text-md mb-2">
              <strong class="font-semibold">Desarrollo:</strong> Desarrollo de aplicaciones
              web y APIs REST con PHP y Next.js, utilizando arquitectura hexagonal
              basada en Domain-Driven Design (DDD) y MVC.
            </p>
            <p class="text-md mb-2">
              <strong class="font-semibold">Lenguajes y Frameworks:</strong> PHP,
              Next.js, y Symfony.
            </p>
            <p class="text-md mb-2">
              <strong class="font-semibold">Arquitectura:</strong> Experiencia en
              arquitectura hexagonal basada en Domain-Driven Design (DDD) y MVC.
            </p>
            <p class="text-md mb-2">
              <strong class="font-semibold">Despliegue y Gestión:</strong> Experiencia
              en implementación de aplicaciones, versionado de APIs y gestión de
              proyectos.
            </p>
            <p class="text-md mb-2">
              <strong class="font-semibold">Herramientas y Entorno:</strong> Uso
              avanzado de Docker para desarrollo local, documentación con Swagger.
            </p>
          </div>
        </HystoricalWork>

        <HystoricalWork
          title="PRACTICAS TELECOMUNICACIONES | Indra"
          date="Mar 2020 - Abr 2020"
          tags={["Clarive", "Jenkins"]}
        >
          <div slot="description">
            <p class="text-md mb-2">
              <strong class="font-semibold">Desarrollo:</strong> Desarrollo de implementaciones
              para el sector telco.
            </p>
            <p class="text-md mb-2">
              <strong class="font-semibold"
                >Herramientas y plataformas DevOps:</strong
              > Clarive y Jenkins.
            </p>
          </div>
        </HystoricalWork>
      </div>

      <div class="col-span-3">
        <h2 class="text-3xl font-bold mb-4">EDUCACIÓN Y FORMACIÓN</h2>

        <Education
          title="TÍTULO DE BACHILLERATO"
          location="Instituto Lucía de Medrano - Titulado en 2017"
        >
          <div slot="description">
            <strong class="font-semibold">Especialidad:</strong> Ciencias y Tecnología.
          </div>
        </Education>

        <Education
          title="GRADO SUPERIOR DE DESARROLLO DE APLICACIONES MULTIPLATAFORMA"
          location="Colegio Santísima Trinidad - Titulado en 2020"
        >
          <div slot="description">
            <strong class="font-semibold">Especialidad:</strong> Ciencias y Tecnología.
          </div>
        </Education>
      </div>

      <div class="col-span-3">
        <h2 class="text-3xl font-bold mb-4">MIS PROYECTOS</h2>

        <CvProjects
          title="WEB PERSONAL"
          body="Web personal realizada con Astro.js, que incluye mi información personal, mi curriculum y un pequeño blog generado desde archivos md."
          href="https://Diegomarty.com"
          isPublic={true}
          isOpenSource={true}
        />

        <CvProjects
          title="APLICACIÓN QR"
          body="Una pequeña aplicación hecha con Next.js 12 en la que poder subir una carta de un restaurante y hacer pedidos a este, accediendo como un usuario."
          href="https://proyectqr-riuhwp6on-diegomarty.vercel.app/"
          isPublic={true}
          isDevelopment={true}
        />

        <CvProjects
          title="POKEDLE"
          body="Una aplicación realizada en Next.js 13, y la PokeApi, es una aplicación basada en Wordle y Pokémon"
          href="https://pokedle.diegomarty.com/"
          isPublic={true}
          isDevelopment={true}
        />
      </div>
    </div>
  </div>
</Layout>
