---
export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
  slug?: string;
}

const DOMAIN = "https://aleksa.codes";
const DEFAULT_OG_IMAGE = "https://aleksa.codes/assets/aleksa-codes-og.png";
const {
  title = "aleksa.codes",
  description = "As a junior React developer, Aleksa is skilled in building user interfaces and front-end applications using the popular JavaScript library. Passionate about coding and dedicated to creating visually appealing and user-friendly experiences, Aleksa is constantly seeking to improve and expand their skills. Explore Aleksa's (or Alexa's) portfolio to see their work and learn more about their capabilities as a web developer.",
  siteName = "aleksa.codes",
  canonical = DOMAIN,
  ogImage = DEFAULT_OG_IMAGE,
  ogType = "website",
  twitterHandle = "@aleksacodes",
  slug = undefined,
} = Astro.props as Props;
---

{
  title === "aleksa.codes" ? (
    <title>{`${siteName}`}</title>
  ) : (
    <title>{`${title} | ${siteName}`}</title>
  )
}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover"
/>
<meta name="generator" content={Astro.generator} />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<meta
  name="title"
  content={title === "aleksa.codes"
    ? "aleksa.codes | Web Developer"
    : `${title} | ${siteName}`}
/>
<meta name="description" content={description} />

<meta property="og:type" content={ogType} />
<meta property="og:url" content={canonical} />
<meta
  property="og:title"
  content={title === "aleksa.codes"
    ? "Portfolio & Blog"
    : `${title} | ${siteName}`}
/>
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={slug !== undefined ? `/assets/posts/${slug}.png` : ogImage}
/>
<meta
  property="og:image:alt"
  content={slug !== undefined
    ? title + "Social Image"
    : "Aleksa Codes Social Image"}
/>

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonical} />
<meta
  property="twitter:title"
  content={title === "aleksa.codes"
    ? "Portfolio & Blog"
    : `${title} | ${siteName}`}
/>
<meta property="twitter:creator" content={twitterHandle} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={slug !== undefined ? `/assets/posts/${slug}.png` : ogImage}
/>
<meta
  property="twitter:image:alt"
  content={slug !== undefined
    ? title + "Social Image"
    : "Aleksa Codes Social Image"}
/>

<link rel="canonical" href={canonical ?? DOMAIN} />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="57x57" href="/icons/ios/57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/icons/ios/60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/icons/ios/72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/icons/ios/76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/icons/ios/114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/icons/ios/120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/icons/ios/144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/icons/ios/152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/icons/ios/180.png" />
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/icons/android/192.png"
/>
<link rel="icon" type="image/png" sizes="32x32" href="/icons/ios/32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/icons/ios/96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/icons/ios/16.png" />

<link rel="shortcut icon" href="/favicon.ico" />
<meta name="application-name" content="aleksa.codes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="apple-mobile-web-app-title" content="aleksa.codes" />
<meta name="format-detection" content="telephone=no" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="#463aa1" />
